<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      This is a first application by Verkligheten.
      <a href="https://www.facebook.com/eugeny.naumov">my page</a>
    </p>
  </body>
</html>